# ==== Environment ====
.env
.streamlit/secrets.toml
.venv/
venv/

# ==== Python cache ====
__pycache__/
*.py[cod]
*$py.class

# ==== Logs ====
*.log

# ==== IDE files ====
.idea/
*.iml

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== local inferen ====
inference/*

# ==== Compiled Python files ====
*.pyo
*.pyd
