# ==== Environment ====
.env/
.venv/
venv/

# ==== Python cache ====
__pycache__/
*.py[cod]
*$py.class

# ==== Logs ====
*.log

# ==== IDE files ====
.idea/
*.iml

# ==== OS files ====
.DS_Store
Thumbs.db

# ==== Image data (ignored except placeholder) ====
data/user_images/*
!data/user_images/.gitkeep

# ==== Compiled Python files ====
*.pyo
*.pyd
